name: Build package

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    name: Run Build for ${{ matrix.unityVersion }} ${{ matrix.unityVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - test-package
        unityVersion:
          - 2022.3.56f1
        targetPlatform:
          - StandaloneOSX
          - StandaloneWindows
          - StandaloneWindows64
          - StandaloneLinux64
          - iOS
          - Android
          - WebGL
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Environment
        run: |
          mkdir ${{ matrix.projectPath }}
          mv Editor Runtime Tests Android iOS Windows package.json ${{ matrix.projectPath }}/

      - if: matrix.targetPlatform == 'Android'
        uses: jlumbroso/free-disk-space@v1.3.1

      - uses: game-ci/unity-builder@v4
        name: Build game for platform ${{ matrix.targetPlatform }}
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
        with:
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          projectPath: ${{ matrix.projectPath }}/
          testMode: editmode
          